{% extends 'base.html' %}


{% block content %}

<style>
	.flex-container
	{
		display: flex;
		justify-content: space-around;
	}
	.col-xl-12 > a
	{
		margin: 10px;
		text-align: center;
		line-height: 50px;
		font-size: 20px;	
		font-style: italic;	
	}
</style>


<div class="container">
	<div class="row">
		<div class="col-xl-12">
			<h5 align="center">Welcome, {{ request.user }}.</h5>
		</div>
	</div>
</div>

<div class="flex-container">
	<div class="row">
		<div class="col-xl-12">
			<a href="{% url 'Profile:profile-saveproperty' %}" class="btn btn-outline-primary">Saved Properties</a>
			<a href="{% url 'Profile:profile-preferences' %}" class="btn btn-outline-primary">Preferences</a>
			<a href="{% url 'Profile:profile-update' %}" class="btn btn-outline-primary">Update Profile</a>
		</div>
	</div>
</div>


{% endblock %}