<style>

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
</style>

<footer class="footer mt-auto py-3">
  <div class="container">
    <a href="#" style="font-family: italic;color: grey;">Careers</a>
    <a href="{% url 'about' %}" style="margin-left: 25px;font-family: italic;color: grey">About Us</a>
    <span class="text-muted" style="float: right;">@2019 TinMinTechnologies</span>    
    <span class="text-muted" style="float: right;margin-right: 35px;">Terms of Service</span>
  </div>
</footer>