{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<style type="text/css">
.button {
  font: bold 15px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.scrollmenu
{
	overflow: hidden;
	white-space: nowrap;
	height: 220px;
}
.scrollmenu:hover
{
	overflow: auto;
}
#rsImages:hover
{
	cursor: hand;
	cursor: pointer;
	opacity: .8;
}
#modalrsImages
{
	padding: 5px;
}
#modalrsImages:hover
{
	cursor: hand;
	cursor: pointer;
	opacity: .8;
}
#modalrsImages:focus
{
	opacity: .7;
	outline: none;
}
body .modal-dialog { /* Width */
    max-width: 70%;
    width: auto !important;
    display: inline-block;
    margin-left: 200px;
}
#backend_messages
{
	position: absolute;
	z-index: 999;
	left: 0px;
	right: 0px;
}
#listOptions > img
{

}

</style>

{% if messages %}

	{% for message in messages %}
		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
		<div class="alert alert-danger" id="backend_messages">
			<strong><p align="center">{{ message }}</p></strong>
		</div>
		{% else %}
		<div class="alert alert-success" id="backend_messages">
			<strong><p align="center">{{ message }}</p></strong>
		</div>
		{% endif %}
	{% endfor %}

{% endif %}

<h3 align="center">Renter Saathi Rental Homes Pune.</h3>
<br>

<h4 align="center">Easiest way to rent a home in Pune</h4>

<!-- <form method="POST" action="">
	<input type="text" placeholder="Search in Pune..." name="">
	<input type="submit" name="Submit">
</form> -->
<!-- Need to work on this. -->
<!-- <div class="container" id="browserByArea">
	<div class="row">
		<div class="col-sm-12">
			<h4>Here you can select the areas in Hinjewadi.</h4>
		</div>
	</div>
</div> -->

<!-- <div class="container" id="farmviewPics">
	<div class="row">
		<div class="col-sm-12">
			{% for img in images %}
				<img src="{{ img.image.url}}">
			{% endfor %}
		</div>
	</div>
</div> -->
<br>
<br>

<div class="container" style="background-color: #23BAC2;border-radius: 15px;">
	<h4 align="center" style="padding-top: 25px;">Why RenterSaathi</h4>
	<div class="row" style="padding: 50px;">
		<div class="col-sm-3" id="listOptions">
			<img class="mx-auto d-block" src="https://img.icons8.com/ios/50/000000/armchair.png">
			<h5 align="center" style="padding-top: 5px;">Great Furniture</h4>
		</div>
		<div class="col-sm-3">
			<img class="mx-auto d-block" src="https://img.icons8.com/ios/50/000000/wifi-filled.png">
			<h5 align="center">High Speed Wi-Fi</h4>	
		</div>
		<div class="col-sm-3">
			<img class="mx-auto d-block" src="https://img.icons8.com/ios/50/000000/cash-in-hand-filled.png">
			<h5 align="center">Low Security Deposit</h4>
		</div>
		<div class="col-sm-3">
			<img class="mx-auto d-block" src="https://img.icons8.com/ios/50/000000/hand-with-pen.png">
			<h5 align="center">Hassle Free PaperWork</h5>
		</div>
	</div>
</div>


<br>
<br>

<div class="container" style="background-color: #23BAC2;border-radius: 15px;">
	<h4 align="center" style="padding-top: 25px;">Something for Everybody</h4>
	<div class="row" style="padding: 50px;">
		<div class="col-sm-3">
			<img class="mx-auto d-block" src="https://img.icons8.com/ios/50/000000/occupied-bed.png">
			<h5 align="center">Shared Rooms</h5>
		</div>
		<div class="col-sm-3">
			<img class="mx-auto d-block" src="https://img.icons8.com/ios/50/000000/room-filled.png">
			<h5 align="center">Private Rooms</h5>
		</div>
		<div class="col-sm-3">
			<img class="mx-auto d-block" src="https://img.icons8.com/ios/50/000000/home-page-filled.png">
			<h5 align="center">Flat/House</h5>
		</div>
		<div class="col-sm-3">
			<img class="mx-auto d-block" src="https://img.icons8.com/ios/50/000000/3-star-hotel.png">
			<h5 align="center">Hostel</h5>
		</div>		
	</div>
</div>

<br>
<br>

<div class="container" id="farmviewPics">
	<div class="container">
		<h4 align="center">Communtiy @ RenterSaathi</h4>
	</div>
	<div class="scrollmenu" id="rsImagesHolder">
		{% for img in images %}
			<img src="{{ img.image.url }}" id="rsImages" value="{{ img.rsimagesmain_set.all.0.image.url }}" data-toggle="modal" data-target="#showImagesModal">
		{% endfor %}
	</div>
</div>
<br>
<br>

<div id="showImagesModal" class="modal fade" role="dialog">
	<div class="modal-dialog" style="overflow-y: initial !important;">
		<div class="modal-content" style="width: 1000px;">
			<div class="modal-body" >
				<div class="container">
					<div class="row">
						<div class="col-sm-8" id="modalrsMainImage" style="overflow: hidden;">
							<img src="" id="displayMainImage" class="img-responsive">
						</div>
						<div class="col-sm-4" id="modalrsImagesParent" style="height: 500px;overflow-y: scroll;">
							{% for img in images %}
								<img src="{{ img.image.url }}" value="{{ img.rsimagesmain_set.all.0.image.url }}" id="modalrsImages" class="img-responsive pull-right" tabindex="0">
							{% endfor %}					
						</div>						
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" style="margin: 0 auto;background-color: #23BAC2" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<br>
<br>

<div class="container" id="contactUs" style="background-color: #23BAC2;border-radius: 15px;height: 300px;">
	<div class="row">
		<div class="col-sm-12" style="margin: 30px">
			<h4 style="font-family: cursive;" align="center">Contact Us to know more.</h4>
			<br>
			<br>
			<form class="form-inline" method="POST" action="." >{% csrf_token %}
				{{ form }}
				<button type="submit" class="btn btn-primary" id="submitUserContactDetails" style="margin-left: 25px;">Submit</button>
			</form>
		</div>
	</div>
</div>

<br>
<br>

<div class="container" id="byCustomers">
	<div class="row">
		<div class="col-sm-3">
			<h5 align="center">12</h5>
			<h5 align="center">Apartments</h5>
		</div>
		<div class="col-sm-3">
			<h5 align="center">200+</h5>
			<h5 align="center">Happy Customers</h5>
		</div>
		<div class="col-sm-3">
			<h5 align="center"></h5>
		</div>
	</div>
</div>

<br>
<br>

<div class="container" id="HomeOwners" style="background-color: #23BAC2;border-radius: 15px;">
	<h4 align="center" style="padding-top: 25px;">Why RenterSaathi For Home Owners</h4>
	<div class="row" style="padding: 50px;">
		<div class="col-sm-3">
			<a href="#" style="color: black;">List Your Property</a>
		</div>
		<div class="col-sm-3">
			<h5>Get verified tenants</h5>
			<p>Police verification,Paper Work,House Visit, all will be handled by us.</p>
		</div>
		<div class="col-sm-3">
			<h5>Get Rent on Time</h5>
			<p>Rent will be in the account by 7th of every month. No late rent or rent collection hassle.</p>
		</div>
		<div class="col-sm-3">
			<h5>Property Maintenance</h5>
			<p>Periodic maintenance for repair and cleaning of the house.</p>
		</div>
	</div>
</div>

<!-- <div class="container" id="reviewsByUsers">
	<div class="row">
		<div class="col-sm-12">
			<h5 align="center">Please check the reviews from our customers.</h5>
				<div id="google-reviews"></div>

				<link rel="stylesheet" href="https://cdn.rawgit.com/stevenmonson/googleReviews/master/google-places.css">
				<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
				<script src="https://cdn.jsdelivr.net/gh/stevenmonson/googleReviews@6e8f0d794393ec657dab69eb1421f3a60add23ef/google-places.js"></script>
				<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDegzuiAhiU0LkiQ1ZlsDjtaPYXrKrrn3M&libraries=places"></script>

				<script>
				jQuery(document).ready(function( $ ) {
				   $("#google-reviews").googlePlaces({
				        placeId: 'ChIJe9uT4NK7wjsRhfUKl5DwoWY'
				      , render: ['reviews']
				      , min_rating: 4
				      , max_rows:5
				   });
				});
				</script>

				<br>
				<a class="button" href="https://www.google.com/search?hl=en-IN&authuser=0&ei=RgZlXKiLJoiUwgOHsqHQBQ&q=rentersaathi+hinjewadi&oq=rentersaathi+hinjewadi&gs_l=psy-ab.3...162845.171174..171394...0.0..1.1137.6640.0j15j4-1j1j2j2......0....1..gws-wiz.......0i71j35i39j0i131j0j0i10j33i10.DHRZKjlTb90#lrd=0x3bc2bbd2e093db7b:0x66a1f090970af585,1,,,">See all Google Reviews</a>
				
		</div>
		
	</div>
</div> -->

<br>
<br>
<br>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#rsImagesHolder > img").on({
			click:function(e)
			{
				get_img_src = $(this).attr("value")
				$("#displayMainImage").attr("src",get_img_src)

			}
		})
		$("#modalrsImagesParent > img").on({
			click:function(e)
			{
				get_img_src = $(this).attr("value")
				$("#displayMainImage").attr("src",get_img_src)
			}
		})
		if($("#backend_messages").is(":visible"))
		{
			setTimeout(function(){
				$("#backend_messages").fadeOut()
			},5000)
		}
		// $("#submitUserContactDetails").on({
		// 	click:function(e)
		// 	{

		// 	}
		// })
	})
</script>

{% endblock %}