{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<style>
	#propCard:hover
	{
		cursor: hand;
		cursor: pointer;
		opacity: .8;
	}
</style>

{% if messages %}

	{% for message in messages %}

		<div class="alert alert-success">
			<strong><p align="center">{{ message }}</p></strong>
		</div>

	{% endfor  %}

{% endif %}

{% if is_admin %}
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<form method="POST">
					{{ form|crispy }}{% csrf_token %}
					<button class="btn btn-primary" type="submit">Submit</button>
				</form>			
			</div>
		</div>
	</div>

{% else %}
	<br>
	<div class="container text-center" id="adContainer">
		<div class="row">
			<div class="col-sm-10 col-xl-10">
				<nav class="navbar navbar-expand-lg navbar-light navbar-light" style="background-color: #e3f2fd;">
					  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#roomTypes" aria-controls="roomTypes" aria-expanded="false" aria-label="Toggle navigation">
					    <span class="navbar-toggler-icon"></span>
					  </button>
					<div class="collapse navbar-collapse" id="roomTypes">
				    	<ul class="navbar-nav mr-auto">
						     <li class="nav-item active">
						        <a class="nav-link" href="{% url 'listPropertyUser' %}?q=shared">Shared Room</a>
						     </li>
						     <li class="nav-item active">
						        <a class="nav-link" href="{% url 'listPropertyUser' %}?q=private">Private Room</a>
						     </li>
						     <li class="nav-item active">
						        <a class="nav-link" href="{% url 'listPropertyUser' %}?q=flat">House/Flat</a>
						     </li> 
				   		</ul>
				  	</div>			  	
				  	<div class="collapse navbar-collapse">
				  		<ul class="navbar-nav ml-auto">
				  			<li class="nav-item">
						     	<a class="nav-link" id="removeFilters" href="#" style="visibility: hidden;color: #7c040c">Clear Filters</a>
						     </li>       
				  		</ul>
				  	</div>
				</nav>				
			</div>
		</div>
	</div>
	{% if properties %}
	<div class="container" id="propContainer">
		<div class="row">
			{% for property in properties %}
				<div class="col-sm-5">
					<br>
					<div class="card card-block" id="propCard" onclick="location.href='/listProperty/{{ property.id }}'">
						{% if property.property_image %}
							<img class="card-img-top" src="{{ property.property_image.url }}">
						{% endif %}
						<div class="card-body">
							<p>{{ property.property_type }}</p>
							<p>For: {{ property.gender }}</p>
							<p>Area: {{ property.area }}</p>
							<p>{{ property.furnished }} {% if property.room_type == "shared" %} | {% if property.bed_available == 1 %} {{ property.bed_available }} bed available {% else %} {{ property.bed_available }} beds available {% endif %} {% endif %}</p>
						</div>
						<div class="card-footer">
							<div class="row">
								<div class="col-sm-6">
									<p>Rent: <strong>{{ property.rent }}</strong></p>
								</div>
								<div class="col-sm-6">
									<p>Deposit: <strong>{{ property.deposit }}</strong></p>
								</div>
							</div>
														
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	{% else %}
		<div class="container text-center" style="left: 50%;">
			<div class="row">
				<div class="col-xl-12">
					<br>
					<p>No Property is available for this filter. Please click on Clear Filters.</p>
					<img src="https://img.icons8.com/bubbles/500/000000/file.png">
				</div>
			</div>
		</div>
	{% endif %}

{% endif %}


<br>
<br>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
	$(document).ready(function(){
		const url = "{{ request.path }}"
		const urlQuery = new URLSearchParams(window.location.search)
		const query = urlQuery.get("q")
		if (query)
		{
			$("#removeFilters").css("visibility","visible")
		}
		$("#removeFilters").on("click",function(e){
			e.preventDefault();
			window.location.href = url

		})
	})
</script>

{% endblock %}