{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<style>
	#propCard:hover
	{
		cursor: hand;
		cursor: pointer;
		opacity: .8;
	}
</style>

{% if messages %}

	{% for message in messages %}

		<div class="alert alert-success">
			<strong><p align="center">{{ message }}</p></strong>
		</div>

	{% endfor  %}

{% endif %}

{% if is_admin %}
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<form method="POST">
					{{ form|crispy }}{% csrf_token %}
					<button class="btn btn-primary" type="submit">Submit</button>
				</form>			
			</div>
		</div>
	</div>

{% else %}
	{% if properties %}
	<br>
	<div class="container" id="adContainer">
		<div class="row">
			<div class="col-sm-10">
				<nav class="navbar navbar-expand-lg navbar-light navbar-light" style="background-color: #e3f2fd;">
					  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#roomTypes" aria-controls="roomTypes" aria-expanded="false" aria-label="Toggle navigation">
					    <span class="navbar-toggler-icon"></span>
					  </button>
					<div class="collapse navbar-collapse" id="roomTypes">
				    	<ul class="navbar-nav mr-auto">
						     <li class="nav-item active">
						        <a class="nav-link" href="{% url 'listPropertyUser' %}?q=shared">Shared Room</a>
						     </li>
						     <li class="nav-item active">
						        <a class="nav-link" href="{% url 'listPropertyUser' %}?q=private">Private Room</a>
						     </li>
						     <li class="nav-item active">
						        <a class="nav-link" href="{% url 'listPropertyUser' %}?q=flat">House/Flat</a>
						     </li>   
				   		</ul>
				  	</div>
				</nav>				
			</div>
		</div>
	</div>
	<div class="container" id="propContainer">
		<div class="row">
			<a href="#" class="fill-div"></a>
			<!-- <div class="col-sm-6"> -->
			{% for property in properties %}
				{% if property.is_active %}
					<div class="col-sm-5">
						<br>
						<div class="card card-block" id="propCard" onclick="location.href='/listProperty/{{ property.id }}'">
							{% if property.property_image %}
								<img class="card-img-top" src="{{ property.property_image.url }}">
							{% endif %}
							<div class="card-body">
								<p>{{ property.property_type }}</p>
								<p>For: {{ property.gender }}</p>
								<p>Area: {{ property.area }}</p>
								<p>{{ property.furnished }} {% if property.room_type == "shared" %} | {% if property.bed_available == 1 %} {{ property.bed_available }} bed available {% else %} {{ property.bed_available }} beds available {% endif %} {% endif %}</p>
							</div>
							<div class="card-footer">
								<div class="row">
									<div class="col-sm-6">
										<p>Rent: <strong>{{ property.rent }}</strong></p>
									</div>
									<div class="col-sm-6">
										<p>Deposit: <strong>{{ property.deposit }}</strong></p>
									</div>
								</div>
															
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
			<!-- </div> -->
		</div>
	</div>
	{% else %}
		<h3>No Property is available right now.</h3>
	{% endif %}

{% endif %}


<br>
<br>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>


{% endblock %}