{% extends 'base.html' %}


{% block content %}
<style type="text/css">
.button {
  font: bold 15px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}	
</style>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h3 align="center">Get Rent in Few Steps.</h3>
		</div>
		<div class="col-sm-4">
			<p>Submit Details</p>
			<p>Sign the agreement</p>
			<p>Get tenants</p>
		</div>
	</div>
</div>

<br>
<br>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h3 align="center">How we are different from others.</h3>
		</div>
		<div class="col-sm-3">
			<div class="card card-block">
				<div class="card-body">
					<p align="center">Guided Visits.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="card card-block">
				<div class="card-body">
					<p align="center">Rent on Time</p>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="card card-block">
				<div class="card-body">
					<p align="center">Zero Paperwork.</p>
				</div>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="card card-block">
				<div class="card-body">
					<p align="center">House Safety</p>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="card card-block">
				<div class="card-body">
					<p align="center">House Maintenance</p>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="card card-block">
				<div class="card-body">
					<p align="center">Marketing & Promotion</p>
				</div>
			</div>
		</div>		
	</div>
</div>

<br>
<br>

<div class="container" align="center">
	<div class="row">
		<div class="col-sm-12">
			<a class="button" href="{% url 'listProperty' %}">List Your Properties</a>
		</div>
	</div>
</div>

{% endblock %}