{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<style type="text/css">
	#showVisitSuccessMessage,#showViistErrorMessage
	{
		display: none;
		position: absolute;
	}
	#terms:hover
	{
		cursor: pointer;
	}
	#roomDetails > a
	{
		color: grey;
	}
	#extraCharges:hover,#securityDepositInfo:hover
	{
		cursor: pointer;
		text-decoration: underline;
	}
	#extraChargesList > p
	{
		font-size: 15px;
		color: grey;
	}
	#showMapAtProperty > li > a
	{
		color: grey;
	}
	#map
	{
		height: 100%;
		width: 100%;
	}
	.btn-group
	{
		margin-left: 75px;
	}
	.btn-group > a
	{
		width: 100px;
	}
	#savePropertyContainer > button
	{
		width: 75px;
		margin-left: -15px;
	}

</style>

<br>

{% if messages %}

	{% for message in messages %}

		<div class="alert alert-success">
			<strong><p align="center">{{ message }}</p></strong>
		</div>

	{% endfor  %}

{% endif %}

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-lg-6">
			<div class="card card-block">
				{% if get_object.property_image %}
					<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
<!-- 						<ol class="carousel-indicators">
							<li data-target="#carouselExampleIndicators" data-slide="0" class="active"></li>
							<li data-target="#carouselExampleIndicators" data-slide="1"></li>
						</ol> -->
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img class="card-img-top" src="{{ get_object.property_image.url }}">
							</div>
<!-- 							<div class="carousel-item">
								<img class="card-img-top" src="{{ get_object.imagespropertylisting_set.all.0.image.url }}">
							</div>
							<div class="carousel-item">
								<img class="card-img-top" src="{{ get_object.imagespropertylisting_set.all.1.image.url }}">
							</div> -->
						</div>
						  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
						    <span class="sr-only">Previous</span>
						  </a>
						  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						    <span class="carousel-control-next-icon" aria-hidden="true"></span>
						    <span class="sr-only">Next</span>
						  </a>
					</div>
				{% endif %}		
				<div class="card-header">
					<ul class="nav nav-tabs card-header-tabs" id="showMapAtProperty">
						<li class="nav-item">
							<a class="nav-link active" href="#" value="desc">Description</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" value="showMap">Map View</a>
						</li>
					</ul>
				</div>						
				<div class="container" id="featuresAndMap">
					<div class="card-body">
						<h5>{{ get_object.property_type}}</h4>
						<p>For {{ get_object.gender }} {% if get_object.room_type == "shared" %} | {% if get_object.bed_available == 1 %} {{ get_object.bed_available }} bed available {% else %} {{ get_object.bed_available }} beds available {% endif %} {% endif %}</p>
						<p>{{ get_object.furnished }}</p>
					</div>					
					<div class="card-body">
						<p>Features</p>
						<div class="container">
							<div class="row">
								<div class=" col-lg-4">
									<img src="https://img.icons8.com/ios/50/000000/sleeping-in-bed.png" alt="Images will be uploaded soon">
									<p>{{ get_object.total_rooms }} Bedroom<span>{% if get_object.total_rooms > 1 %}s{% endif %}</span></p>								 
								</div>
								<div class=" col-lg-4">
									<img src="https://img.icons8.com/ios/50/000000/shower-filled.png" alt="Images will be uploaded soon">
									<p>{{ get_object.bathrooms }} Bathroom<span>{% if get_object.bathrooms > 1 %}s{% endif %}</span></p>
								</div>
								{% if get_object.furnished == "Fully Furnished" %}
								<div class=" col-lg-4">
									<img src="https://img.icons8.com/ios/50/000000/sofa-with-buttons.png" alt="Images will be uploaded soon">
									<p>Fully Furnished</p>								
								</div>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="container">
							<div class="row">
								<div class="col-lg-12">
									{% for feature in get_object.get_features %}
										<ul>
											<li>{{ feature }}</li>
										</ul>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="container">
							<div class="row">
								<div class="col-sm-12">
									{% if get_object.offer %}
										<p>Offers</p>
										{% for offer in get_object.get_offers %}
											<ul>
												<li>{{ offer }}</li>
											</ul>
										{% endfor %}
									{% endif %}								
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container" id="mapHolder" style="display: none;">
					<div class="container" id="map" style="width: 525px;height: 500px;margin-left: 0px;">
						
					</div>
					<small style="font-size: 10px;">* Note: This pin show the center of property, not the exact location.</small>
				</div>
			</div>
		</div>
		<div class="col-sm-4 offset-sm-2">
			<button class="btn btn-info" id="schedulevist" data-toggle="modal" data-target="#scheduleVistModal">Schedule a Visit</button>
			<br>
			<br>
			<h5>Available <span>{% if get_object.valid_date %} on: {{ get_object.available_on }} {% else %}: Now {% endif %}</span></h5>
			<div class="container" id="savePropertyContainer">
				{% if property_saved %}
					<button class="btn btn-info shadow-none" id="savedProperty" style="">Saved</button>
				{% else %}
					<button class="btn btn-outline-info shadow-none" id="saveProperty">Save</button>
				{% endif %}				
			</div>
		</div>
	</div>
</div>

<div id="savePropertyRedirectLogin" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="container">
					<div class="row">
						<div class="col-lg-8">
							<h6>Login Required</h6>
						</div>
						<div class="col-lg-4">
							<button type="button" class="close" data-dismiss="modal">&#10006;</button>
						</div>
					</div>
				</div>
			</div>	
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="btn-toolbar">
								<div class="btn-group">
									<a href="{% url 'login' %}" class="btn btn-outline-info">Login</a>	
								</div>
								<div class="btn-group">
									<a href="{% url 'Profile:profile-signup' %}" class="btn btn-outline-info">Register</a>	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="scheduleVistModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="alert alert-success" id="showVisitSuccessMessage">
  					<strong>Success!</strong> Details have been recevied successfully.
				</div>
				<div class="alert alert-danger" id="showViistErrorMessage">
  					<strong>Error!</strong> Something wrong happened. Please try after later.
				</div>
				<h5 align="center">Please share your contact details</h5>
			</div>
			<div class="modal-body">
				<form  style="text-align: center;" method="POST">{% csrf_token %}
					{{ visitForm|crispy }}
					<br>
					<button class="btn btn-primary" id="SubmitVisitForm" type="submit">Submit</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<br>
<div class="container" id="roomDetailContainer">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
			<div class="card text-center">
				<div class="card-header">
					<ul class="nav nav-tabs card-header-tabs">
						<li class="nav-item" style="display: inline-flex;" id="roomDetails">
							<a class="nav-link active" href="#" rent="{{ get_object.rent }}" deposit="{{ get_object.deposit }}" bedCount="{{ get_object.bed_available }}">{{ get_object.room_type|capfirst }}</a>
							{% for room in get_object.propertylistrooms_set.all %}
								{% if room %}
									<a class="nav-link" href="#" rent="{{ room.rent }}" deposit="{{ room.deposit }}" bedCount="{{ room.bed_available }}" private="{{ room.private_room }}" is_available="{{ room.is_available }}">{{ room.name }}</a>
								{% endif %}
							{% endfor %}
						</li>
					</ul>
				</div>
				<div class="card card-body" id="roomAvailable">
					<div class="card-body">
						<div class="container">
							<div class="row">
								<div class="col-6 col-sm-6">
									<p style="float: left;">Rent</p>
									<p style="visibility: hidden;" id="privateRoom"><small>(Private Room is Available.)</small></p>
								</div>
								<div class="col-6 col-sm-4 offset-sm-2">
									<p id="roomRent" class="float-right">{{ get_object.rent }}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="container">
							<div class="row">
								<div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
									<p style="float: left;">Security Deposit</p><br>
									<br>
									<p style="font-size: 12px;float: left;color: orange;" id="securityDepositInfo">More Info</p>
								</div>
								<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
									<p id="roomDeposit" class="float-right">{{ get_object.deposit }}</p>
								</div>
							</div>					
						</div>
					</div>
					{% if get_object.room_type == "shared" %}
					<div class="card-body">
						<div class="container">
							<div class="row">
								<div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
									<p style="float: left">Bed(s) Available</p>
								</div>
								<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
									<p id="showbedCount" class="float-right">{{ get_object.bed_available }}</p>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
					<div class="card-body">
						<div class="container">
							<div class="row">
								<div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
									<p style="float: left;">Extra Charges</p><br>
									<br>
									<p style="font-size: 12px;float: left;color: orange;" id="extraCharges">What does it cover?</p>
								</div>
								<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
									<p class="float-right">{{ get_object.extra_charges }}</p>
								</div>
							</div>								
						</div>
					</div>
					<div class="card-body">
						<div class="container">
							<p><strong style="float: left;">Rent Excludes</strong>: Food, Utilities and Other Miscellaneous living expenses</p>	
						</div>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>

<div id="showExtraChargesModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<h5>Extra Charges.</h5>
						</div>
						<div class="col-lg-6">
							<button type="button" class="close" data-dismiss="modal">&#10006;</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-body">
				<ul id="extraChargesList">
					<li>Stamp Duty</li>
					<p>Agreement charges + legal fees and taxes as per the municipality laws</p>
					<li>Verification Charges</li>
					<p>Police Verification Fees + other local fees for verification.</p>
					<li>Pre Cleaning</li>
					<p>House cleaning before you move-in.</p>
				</ul>
			</div>
			<div class="modal-footer">
				<p class="mr-auto">* Note: Charges vary based on house city, size, rent & quality.</p>
			</div>
		</div>
	</div>
</div>

<div id="showSecurityDepositModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<h6>Security Deposit Policy</h6>
						</div>
						<div class="col-lg-6">
							<button type="button" class="close" data-dismiss="modal">&#10006;</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-body">
				<ul id="extraChargesList">
					<li>Why?</li>
					<p>This goes directly to the owner</p>
					<li>Refund</li>
					<p>Full Refund if the property is maintained in the original condition.</p>
				</ul>
			</div>
			<div class="modal-footer">
				<p class="mr-auto">* Note: Refund will depend on the inspection.</p>
			</div>
		</div>
	</div>
</div>

<br>
<br>

<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<div class="card text-center">
				<div class="card-body">
					<h5 class="card-title">About Property</h5>
					<p class="card-text"><small>{{ get_object.about_property }}</small></p>
				</div>
			</div>			
		</div>
	</div>
</div>


<br>
<br>

<div class="container">
	<div class="row">
		<div class="col-sm-6" id="terms">
			<div class="card text-center">
				<div class="card-body">
					<h5 class="card-title">Terms of Stay</h5>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="termsModal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<h5>rentersaathi Terms of Stay</h5>
						</div>
						<div class="col-lg-6">
							<button type="button" class="close" data-dismiss="modal">&#10006;</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-body" style="height: 500px;overflow-y: scroll;">
				<p>Details about Terms of Stay</p>
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<h6 style="color: orange;">Service & Maintenance</h6>
							<p style="font-size: 14px;">Service visit and material (if any) charges apply to all repair or maintenance related issues. Unless the request for repair is raised within 7-days of move-in, as then it will be accomodated in Onboarding Charges.</p>		
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<h6 style="color: orange;">Late Rent Payment Charges</h6>
							<p style="font-size: 14px;">In case rent is paid after 7th of the month, tenant would be charged Rs. 500.</p>
							<p style="font-size: 14px;">Non-payment of rent post 15th of the month would result in a breach of tenancy terms and the tenant would be required to vacate the scheduled premises immediately.</p>
							<p style="font-size: 14px;">These charges are levied in order to encourage tenants to pay by due date. This is also to avoid financial inconvenience to owners and facilitate payment of rent to owner by renterSaathi, on time.</p>		
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<h6 style="color: orange;">Rent Increment</h6>
							<p style="font-size: 14px;">Rent would be increased according to terms of agreement post 11 months of stay. Additional charges for revised agreement applicable</p>		
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<h6 style="color: orange;">Notice Period Charges</h6>
							<p style="font-size: 14px;">Tenant has to provide 1 month of notice while vacating. Any shortfall in notice period will be charged on a pro-rata basis where the charges would be equal to the no. of days of shortfall of the 1 month period.</p>		
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<br>
<br>

<script>

	function initMap()
	{
		var myLatLng = {lat: ({{ get_object.lat }}), lng: ({{ get_object.lng}})};
		var mapDiv = document.getElementById('map');
		map = new google.maps.Map(mapDiv, {
		center: myLatLng,
		zoom: 16,
		});
		var marker = new google.maps.Marker({
		position: myLatLng,
		map: map,
		draggable: true,
		title:"Click to Zoom",
		});
	}

</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8dEZoCwk6kXXaXwPOVgnVrjIX6EzhFfE&libraries=places&callback=initMap">
</script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
		var divClone = $("#featuresAndMap").clone()
		var carousel_click = 0
		$("#showVisitSuccessMessage").hide()
		$("#SubmitVisitForm").on("click",function(e){
			e.preventDefault()
			var name = $("#id_name").val()
			var contact = $("#id_contact").val()
			var email = $("#id_email").val()
			$.ajax({
				type:"POST",
				url:"{{ get_object.get_absolute_url }}",
				data:{
					csrfmiddlewaretoken:"{{ csrf_token }}",
					"name":name,
					"contact":contact,
					"email":email,
					"visit":true,
				},
				success:function(context){
					if (context == "Received_Contact_Details")
					{
						$("#showVisitSuccessMessage").fadeIn()
						setTimeout(function(){
							$("#showVisitSuccessMessage").fadeOut()
						},5000)
					}
					if (context == "Error_Received")
					{
						$("#showViistErrorMessage").fadeIn()
						setTimeout(function(){
							$("#showViistErrorMessage").fadeOut()
						},5000)						
					}
				}
			})
		})
		$("#terms").on("click",function(e){
			$("#termsModal").modal({
				show:true
			})
		})
		$("#roomDetails > a").on("click",function(e){
			e.preventDefault();
			$("#roomDetailContainer").css("opacity","0.5")
			setTimeout(function(){
				$("#roomDetailContainer").css("opacity","1")
			},750)
			$("#roomDetails a.active").css("color","grey")
			$("#roomDetails a.active").removeClass("active")
			$(this).addClass("nav-link active")
			$(this).css("color","#315b8c")
			var rent 		= $(this).attr("rent")
			var deposit 	= $(this).attr("deposit")
			var bedCount 	= $(this).attr("bedCount")
			var private 	= $(this).attr("private")
			var available 	= $(this).attr("is_available")
			if (available == "False")
			{
				$("#roomRent").text("Sold Out").css("color","grey")
				$("#securityDepositInfo").css({"cursor":"not-allowed","text-decoration":"initial","opacity":"0.5"})
				$("#extraCharges").css({"cursor":"not-allowed","text-decoration":"initial","opacity":"0.5"})				
			}
			else
			{
				$("#roomRent").text(rent).css("color","black")
				$("#securityDepositInfo").css({"cursor":"","text-decoration":"","opacity":""})
				$("#extraCharges").css({"cursor":"","text-decoration":"","opacity":""})	
			}
			if (private == "True") 
			{
				$("#privateRoom").css("visibility","visible")
			}
			else
			{
				$("#privateRoom").css("visibility","hidden")
			}
			
			$("#roomDeposit").text(deposit)
			$("#showbedCount").text(bedCount)
		})
		$("#extraCharges").on("click",function(e){
			$("#showExtraChargesModal").modal({
				show:true
			})
		})
		$("#securityDepositInfo").on("click",function(e){
			$("#showSecurityDepositModal").modal({
				show:true
			})
		})
		$("#showMapAtProperty > li > a").on("click",function(e){
			e.preventDefault();
			$("#showMapAtProperty a.active").removeClass("active")
			$(this).addClass("navlink active")
			var value = $(this).attr("value")
			if (value == "showMap")
			{
				$("#featuresAndMap").css("display","none")
				$("#mapHolder").css("display","block")
				var center = map.getCenter()
				google.maps.event.trigger(map, "resize");
				map.setCenter(center)

			}
			if (value == "desc")
			{
				$("#mapHolder").css("display","none")
				$("#featuresAndMap").css("display","block")
			}
		})
		$("#savePropertyContainer > button").on("click",function(e){
			$ths = $(this)
			if ("{{ user.is_authenticated }}" == "False")
			{
				$("#savePropertyRedirectLogin").modal({
					show:true
				})
			}
			else
			{
				$.ajax({
					type:"POST",
					url:"{% url 'toggle-property' %}",
					data:{
						csrfmiddlewaretoken:"{{ csrf_token }}",
						"property":"{{ get_object.id }}",
						"profile":"{{ profile.id }}",
					},
					success:function(context)
					{
						if(context == "True")
						{
							$ths.text("Saved")
							$ths.toggleClass("btn-info btn-outline-info")
						}
						if(context == "False")
						{
							$ths.text("Save")
							$ths.toggleClass("btn-outline-info btn-info")
						}
					}
				})
			}
		})
	})
</script>
{% endblock %}